@import "settings";
@import "foundation";
$fi-path: "foundation-icon-fonts";
@import "bower_components/foundation-icon-fonts/foundation-icons";
@import "zurb-chosen";

.help-block {
  display: block;
  color: lighten(red, 25%); 
}
input.form-control {
  margin-bottom: 0px;
}
.form-group {
  margin-bottom: 16px;
}

.editable-property-panel {
  min-height: 90px;
  .editable-property-btn {
    position: absolute;
    right: 40px;

  }
}

nav.top-bar {
  
  ul.title-area {
    margin-left: 2%;
    a {
      padding: 0 7px;
      display: inline;
      img {
        width: 83px;
      }
    }
  }
  section.top-bar-section {
    ul {
      margin-right: 1%;
    }
    li.has-dropdown:hover > a{
      background-color: $topbar-bg-color;
      color: $topbar-link-color;
    }
    // li.has-form {
    //   padding: 0 10px;
 
    // }
  }    
}

.reveal-modal {
  .button {
    margin-bottom: 0;
  }
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.locations {
  height: 250px;
  background-color: #3F3F3F
}

.banner {
  height: 120px;
  background-color: $smoke;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.routes-sub-nav {

  @include sub-nav(
    $font-size: rem-calc(16),
    $active-bg: $white
  );

  height: 80px;
  a.button {
    font-size: 1rem;
    height: 100%;
    span {
        font-size: 2rem;
    }
    
  }
}

.chevron-right {
  width: 0;
  height: 0;
  border-bottom: 80px solid $primary-color;
  border-left: 100px solid transparent;
}

.routes-wizard {
  // @include inline-list;

  @include sub-nav(
    $font-size: rem-calc(18),
    $active-bg: $white
  );
  @include block-grid(5);

  a { margin-top: 30px; }
 
  li.disabled {
    .chevron {
    @extend .chevron-right;
    border-bottom: 80px solid #737373;
    }
    a { color: #737373; }
  }

  li.enabled .chevron {
    @extend .chevron-right;
    border-bottom: 80px solid #35DED9;
  }

  li.active a{
    cursor: pointer;
    color: $primary-color;
  }

  li.active .chevron {
    @extend .chevron-right;
    border-bottom: 80px solid $primary-color;
  }

  
}



.map-canvas {
  position: absolute;
  width: 100%;
  height: 400px;
}

.map-content {
  padding-top: 420px;
   
}
.map-controls {
  position: absolute;
  width: 100%;
  padding-top: 16px;
  z-index: 1000;
  select {
    width: 40%;
  }
 .clear-button {
    display: inline-block;
    background-color: white;
    .button {
      margin: 0;
    }
  }

}

.em-file-field-wrapper {
  overflow: hidden;
  position: relative;
  input {
    position: absolute;
    left: -100%;
  }
}


.masonry-grid{
  .grid-sizer {
    width: 10%;
  }
  // img {
  //   width: 100%
  // }
  a.item {
    margin: 0;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  }

  a.item:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* For Webkit browsers */
    filter: gray; /* For IE 6 - 9 */
    -webkit-transition: all .3s ease; /* Fade to color for Chrome and Safari */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  }
  .em-gallery-overlay {
    z-index:1000;
    background:#111;
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
    opacity:0.9;
  }
  img.full {
    position: fixed;
    top:50%;
    left: 50%;
    z-index:2000;
    max-width: 80% ;
    max-height: 90% ;
    transform: translate3d(-50%, -52%, 0);
    -webkit-transform: translate3d(-50%, -52%, 0);
    -o-transform: translate3d(-50%, -52%, 0);
    -moz-transform: translate3d(-50%, -52%, 0);
  }


  a.prevNext {
    z-index:3000;
    
    top: 0px;
    position: fixed;
    
    height:100%;
    width: 300px;
 
    display: block;
    overflow: hidden;
    p {
      position: absolute;
      top:40%;
      opacity: 0;
      font-size: rem-calc(100);
      font-weight: bold;
      margin: 0px;
      text-shadow: none  !important;
      -moz-text-shadow: none !important;
      -webkit-text-shadow: none !important;
      transition: all .2s ease-in-out; 
      -moz-transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
 
    }
    p:active {
      color: #F4984F;

    }
    
  }

  a.prev {
    left: 0px;
    p {
      left: 100px;
      transform: scale(.4) translateX(450px);
      -webkit-transform: scale(.4) translateX(450px);
      -moz-transform: scale(.4) translateX(450px);
    }
   
  }

  a.next {
    right: 0px;
    p {
      right: 100px;
      transform: scale(.4) translateX(-450px);
      -webkit-transform: scale(.4) translateX(-450px);
      -moz-transform: scale(.4) translateX(-450px);
    }
    
  }

  a.prevNext:hover{

    p {
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      text-shadow: 0 0 12px #000, 0 0 10px ;
      -webkit-text-shadow: 0 0 12px #000, 0 0 10px ;
      -moz-text-shadow: 0 0 12px #000, 0 0 10px ;
    
      opacity: 0.8;
      
    }
  }

  

  a.close {
    z-index:4000;
    top: -10px;
    right: -10px;
    position: fixed;
    font-weight: bold;
    height: 60px;
    width: 60px;
    padding: 18px 0px 12px 25px;
    
    font-size: 1.2em;
    opacity: 0.5;
    border-radius: 0 0 0 70px;
    background-color: rgba(255,255,255,0.2);
    transition: all .2s ease-in-out; 
  }
  a.close:hover  { 
    transform: scale(1.2) translate(-10px, 10px); 
    opacity: 0.8;
    font-size: 1.5em;
    padding: 10px 0 20px 25px;
  }
}



/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
  max-width: none !important;
}

.footer {
  @extend .locations;
  height: 100px;
}

.hide {
    display: none;
}