if model.transportHubs
  table style="width: 100%"
    tbody
      each th in model.transportHubs
        tr
          td= th.hubType
          td= th.name
          td= th.description
          td style="width: 10px"
            a{action "editInsertion" th}
              i.fi-pencil
          td style="width: 10px"
            a{action "destroyInsertion" th}
              i.fi-x
