<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OutdoorClient</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for 'head'}}
    {{content-for 'choosen-css'}}
    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/outdoor-client.css">
    
    

    {{content-for 'head-footer'}}
  </head>
  <body>
    {{content-for 'body'}}

    <script src="assets/vendor.js"></script>
    <script src="assets/outdoor-client.js"></script>
    {{content-for "gm-api"}}
    {{content-for "choosen-js"}}
    {{content-for 'body-footer'}}

  </body>
</html>
