em-form model=typedInsertion action="createTransportHub" submit_button=false
  label Choose TRANSPORT HUB type
  simple-select content=transportHubTypes action="insertionSelectChanged"  prompt="Please choose a hub type" value=typedInsertion.insertionType
  em-input property="name" label="Transport HUB NAME" placeholder="Add transport hub name..." type="text"
  em-text property="description" label="Transport HUB DESCRIPTION" placeholder="Add transport hub description..." rows=3
  .form-actions
    br
    input{bind-attr class=":button :success typedInsertion.isValid::disabled"}  type="submit" value="Add TRANSPORT HUB" 