em-form model=typedInsertion action="createContact" submit_button=false
  em-input property="phone" label="PHONE NUMBER" placeholder="Add phone number..." type="text"
  em-text property="description" label="DESCRIPTION" placeholder="Add phone number description..." rows=3
  .form-actions
    br
    input{bind-attr class=":button :success typedInsertion.isValid::disabled"}  type="submit" value="Add PHONE NUMBER" 